<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', path='/libs/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <div class="header">易达软件小程序后端管理平台</div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- 添加 ICP 备案信息底部栏 -->
    <div class="footer">
        <a href="https://beian.miit.gov.cn/" target="_blank" class="icp-link">
            <span class="icp-text">冀ICP备2025103215号-1</span>
        </a>
    </div>

    <script src="{{ url_for('static', path='/libs/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/libs/bootstrap.min.js') }}"></script>
</body>
</html>