{% extends "base.html" %}

{% block title %}忘记密码{% endblock %}

{% block content %}
    <div class="container centered-container">
        <div class="mt-5">
            <h2>忘记密码</h2>
            <form id="forgot-password-form">
                <div class="form-group">
                    <input type="text" id="forgot-password-username" class="form-control" placeholder="用户名" required>
                </div>
                <div class="form-group">
                    <input type="text" id="forgot-password-fullname" class="form-control" placeholder="姓名" required>
                </div>
                <div class="form-group">
                    <input type="email" id="forgot-password-email" class="form-control" placeholder="邮箱" required>
                </div>
                <div class="form-group">
                    <input type="password" id="forgot-password-newpassword" class="form-control" placeholder="新密码" required>
                </div>
                <div class="form-group">
                    <input type="password" id="forgot-password-confirmnewpassword" class="form-control" placeholder="确认新密码" required>
                </div>
                <button type="submit" class="btn btn-primary">重置密码</button>
            </form>
            <div class="mt-3">
                <a href="{{ url_for('login') }}">返回登录</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', path='/libs/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/libs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/forgot_password.js') }}"></script>
{% endblock %}